# CLAUDE_WORKFLOW – {{ project_name }}
Sidst opdateret: {{ date }}

## Projektstatus
[Én sætning om hvor projektet er lige nu]

## Aktuel fokus
[Hvad arbejdes der på lige nu – maks 3 punkter]

## Todo
### Høj prioritet
- [ ] ...

### Næste skridt
- [ ] ...

### Bobler / idéer
- [ ] ...

## Arkitekturbeslutninger
[Beslutninger der er taget og ikke må genåbnes uden grund]
- {{ date }} [første beslutning og begrundelse]

## Kendte problemer
- Ingen endnu

## Sessionlog
### {{ date }}
- Projekt oprettet med `{{ command }}`
- [hvad blev besluttet]
- [hvad mangler]
