name: {{ conda_env }}
channels:
  - conda-forge
  - defaults
dependencies:
  - python={{ python_version }}
  - pip
  - jupyter
  - ipykernel
  - pip:
    - -e .
    - doit
    - black
    - ruff
    - pytest
